<html>
{% load static %}

<head>
<title>Datobi</title>

<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}"> -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>


<body>
    
<header>
<h1 id="brand"> <a href="#d">Code with Datobi</a> </h1>

<nav >


<ul class="nav_links">

    <li><a href="#">Services</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">About</a></li>



</ul>


</nav>



</header>


<h1>Hiii</h1>
</body>

</html>