<html>
{% load static %}

<head>
<title>Datobi</title>

<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}"> -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>


<body>
    <img src="{% static 'david-unsplash.jpg' %}" style="object-fit:fill; height: 100%; width:100%;position: absolute;  
  " alt="">  
<header style="position: relative;">

  

<h1 id="brand" class="post-header-div" style="color: rgb(148, 35, 35);"> <a href="#d">Code with Datobi</a> </h1>

<nav >


<ul class="nav_links">

    <li><a href="#">Projects</a></li>
    <li><a href="#">About me</a></li>
    <li><a href="#">Contact</a></li>



</ul>


</nav>



</header>

<div class='header-bg ' style=" height:90%"  >

<!-- <img src="{% static 'david-unsplash.jpg' %}" style="object-fit:cover; height: 100%; width:100%;position: absolute;  
width: 100%;" alt=""> -->


    <div class="header-text"  >


        <h1 style="font-size: 80px;   position: relative; 
        top: 200px; 
        left: 100; 
        width: 100%;" id="main_header">
            Welcome<br>To My<br>Blog
            </h1>
    
            <p style="font-size: 80px;   position: relative; 
            
            left: 500; 
            width: 100%;" id="main_header">
                I'm using this <br>website to portray <br>my personal projects
        </p>
        
                
            
    </div>

</div>




<div class="post-header-div" style="position: relative; ">
    <h1 style="font-size: 50px; margin-left:100px; color: rgb(55, 55, 55);" >Posts</h1>
</div>





<div style="display: flex; flex-direction: column;  " >


    
<div class="post-item" style="display: flex; flex-direction: row;" >

    <div style="display:block">
        <h5 style="margin-left: 30px;">David Ayodele</h5>
 
        <h3 style=" margin-left: 30px; width: 500px">My first Project dddddddddddddddddddddddd</h3>


        <p style="margin-left: 30px;">Damn this som lame as shiiit vkfnvifnvfiovmfosdvdsvs</p>

    </div>
  
   
    <img src="{% static 'code-snapshot.PNG' %}" style="object-fit: contain; width: 400px;  margin: 10px; "alt=" " >
    
    
    </div>


    
    <div class="post-item" style="display: flex; flex-direction: row;" >

        <div style="display:block; column-gap: 0px;">
            <h5 style="margin-left: 30px;">David Ayodele</h5>
     
            <h3 style=" margin-left: 30px; width: 500px">My first Project dddddddddddddddddddddddd</h3>
    
    
            <p style="margin-left: 30px;">Damn this som lame as shiiit vkfnvifnvfiovmfosdvdsvs</p>
    
        </div>
      
       
        <img src="{% static 'code-snapshot.PNG' %}" style="object-fit: contain; width: 400px;  margin: 10px; "alt=" " >
        
        
        </div>


<br>
    
  

         
</div>



</body>


<script src="{% static 'js/blog.js' %}"></script>

</html>