header{
    display: flex;
    justify-content:space-around;
    align-items: center;


}


html, body {
    margin:0;
    padding:0;
background-color:#eceff1;

width: auto;
height: auto;
scroll-behavior: smooth;
}
.nav_links li a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: larger;
}

.home-bg{
 background-image: url(/static/david-unsplash.jpg);
 height: 1000px;
 /* width: 1000px; */

}

#sub_main_header{

    font-family:Lato;
color: white;
}

#post-author{
    font-family:Lato-Light;
color: #2b2b2b;
font-size: 20px;

}
#post-title{
    font-family: Lato;
color: #1b1b1b;
font-size: 30px;

}

p{
    font-family: Lato-Light;
    font-size: 20px
}

#brand{

margin-right: 100px;
color: rgb(148, 35, 35);
}


/* .header-bg{
object-fit: contain;
background-image: url('/static/florian-unsplash.jpg');


} */


.post-item{

background-color: white;
width: max-content;



margin-left: 70px;

/* border-style: solid;
border-width: 2px;
border-color: rgb(245, 245, 245);
border-radius: 5px; */
}


.form-control{
    width: 30%;
}

header{
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 10px 35px rgba(212, 212, 212, 0.352);
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    font-family: Lato-Bold;
}

a{

text-decoration: none;
color: black;

}


.header-text{

display: block;

animation: mymove 5s;

}

#main_header{
    color: white;
/* text-shadow: 10px 10px 10px rgb(212, 212, 212); */


}

@keyframes mymove {
    0%{transform: translateX(2%);}
   100% {transform: translateX(0%)};
}

@keyframes postHeader {
    0%{transform: translateX(-2%);}
    100%{transform:translateX(0%)}
}

.post-header-div{
    animation: postHeader 5s;
}
 
.nav_links li{
display: inline-block;
padding-left: 40px;
padding-right: 40px;
font-family: Lato-Bold;

}

.nav_links :hover{
    color: blue;
    
    }





@font-face {
    font-family: Lato-Bold;
    src: url("/static/fonts/Lato-Bold.ttf");
}



@font-face {
    font-family: Lato;
    src: url("/static/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("/static/fonts/Lato-Light.ttf");
}

