<html>
{% load static %}

<head>
<title>Datobi</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=1000px">
<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="https://kit.fontawesome.com/f55e5e3e83.js" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>


<body>
<header >

  

<h3 id="brand" class="post-header-div" style="color: rgb(148, 35, 35);"> <a href="#d">Datobi</a> </h1>

<nav >


<ul class="nav_links">

    <li><a href="{% url 'post-list' %}">Posts</a></li>
    <li><a href="{% url 'post-create' %}">Create</a></li>
    {% if user.is_authenticated %}
             
          <li><a href="{% url 'logout' %}">Logout</a></li>

            {% else %}

            <li><a href="{% url 'login' %}">Login/Signup</a></li>
          {% endif %}



</ul>


</nav>



</header>

{% block body %}
    




{% endblock body %}
    
</body>

</html>