<html>
{% load static %}

<head>
<title>Datobi</title>

<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}"> -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<script src="https://kit.fontawesome.com/f55e5e3e83.js" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

</head>


<body>

    <div style="position: relative; height: 50rem;">
        <img src="{% static 'david-unsplash.jpg' %}" style="object-fit:fill; height: 100%; width:100%;position: absolute;  
        " alt="">  
      <header style="position: relative;">
      
        
      
      <h1 id="brand" class="post-header-div" style="color: rgb(148, 35, 35);"> <a href="#d"> Datobi</a> </h1>
      
      <nav >
      
      
      <ul class="nav_links">
      
          <li><a href="#post-header-div">Posts</a></li>
          <li><a href="{% url 'post-create' %}">Create</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="{% url 'login' %}">Login/Signup</a></li>
      
      
      
      </ul>
      
      
      </nav>
      
      
      
      </header>
      
      <div class='header-bg ' style=" height:90%"  >
      
      <!-- <img src="{% static 'david-unsplash.jpg' %}" style="object-fit:cover; height: 100%; width:100%;position: absolute;  
      width: 100%;" alt=""> -->
      
      
          <div class="header-text"  >
      
      
              <h1 style="font-size: 80px;   position: relative; 
              top: 10px; 
              left: 100; 
              width: 100%;" id="main_header">
                  Datobi Blog
                  </h1>
          
                  <h3 style="font-size: 40px;   position: relative; 
                  
                  left: 500; 
                  width: 100%;" id="sub_main_header">
                      Create <br>Edit <br>and Publish high quality posts
                </h3>
              
                      
                  
          </div>
      
      </div>

    </div>
 




<div class="post-header-div" style="position: relative; "id='post-header-div'>
    <h1 style="font-size: 50px; margin-left:100px; color: rgb(55, 55, 55);" >Posts</h1>
</div>





<div style="display: flex; flex-direction: column;  " >


    
    {% for post in object_list %}

<div style="display: flex; flex-direction: row; " >


  
    <div class="post-item" style="display: flex; flex-direction: row; " >
        <a href="{% url 'post-detail' pk=post.pk %}" style="display: flex; flex-direction: row;" >


        <div style="display:block; line-height: 20px; margin-left: 30px; width: 500px">
            <h5  id="post-author" >By {{post.user.fullname}}</h5>
     
            <div style="display: inline;">
                <h3  id="post-title">{{post.title}} 
             
                    </h3>
                    </div>
    
    
            <p >{{post.content|safe|truncatechars:100}}</p>
    
        </div>
      
       
        <img src="{{post.image.url}}" style="object-fit: contain; height: 350px; margin: 10px; "alt=" " >
        
    </a>

    
        </div>

        {% if post.user == user %}
       
    <a href="{% url 'post-update' pk=post.pk %}" style="border:2px solid red; margin: 10rem;">
        <i class="fa-solid fa-pen fa-3x"></i>

    </a>

    {% endif %}
</div>
    
    
        
        <br>
 
    {% endfor %}
        

  


   

    
  

         
</div>



</body>


<script src="{% static 'js/blog.js' %}"></script>

</html>