<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    {% if login_fail %}
        <p>Login Failed Try Again</p>

    {% endif %}

    <form method="post">
        {% csrf_token %}


        <label for="">Email:</label>
        <input type="email" name="email"></input>

        <label for="">Password:</label>
        <input type="password" name="password"></input>


        <button type="submit">Submit</button>

    </form>

    <p>Don't have an account yet?,Signup <a href="{% url 'signup' %}">here</a> </p>




</body>
</html>